<h1 class="heading">Personal Details</h1>
<p>Name: Jayakrishnan G</p>
<p>Age: 22</p>
<p>Phone: 9633743123 </p>
<p><%= image_tag("image.jpg", :alt => "My Photo") %></p>
<p class="link"><%= link_to "Qualifications" , say_qualification_path %></p>